{% load static %}

<html>
<body background="{% static "images/Banquet_Halls_in_Chennai_Hablis_Hotel_Chennai_1.jpg" %}">
<fieldset style="background: white">
    <h4><img src="{% static "images/images2.png" %}" style="float: left"></h4>
    <h4><img src="{% static "images/download2.jpg" %}" style="float: right"></h4>
</fieldset>
<a href= "/fooditems/"><h3 style="float: left;padding-left: 60px;color: orangered">Food Details</h3></a>
<a href="/fooditems/"><h3 style="float: left;padding-left: 60px;color: white">Food Booking</h3></a>
<a><h3 style="float: left;padding-left: 60px;color: green">Gallery</h3></a>
<a><h3 style="float: left;padding-left: 60px;color: yellow">Contact</h3></a>
</body>
</html>